.project-page__header {
  display: flex;
  position: relative;
}

.project-page .logo-wrapper {
  position: fixed;
}

@media only screen and (min-width: 800px) {
  .project-page .logo-wrapper {
    position: absolute;
  }
}

main {
  margin-top: 100px;
  padding: 40px 0px;
}

/* hero section */

.project-page__hero-img-wrapper img {
  width: 100%;
}

.project-page__projects__links a{
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  padding: 3px 15px;
  border: 1px solid #fff;
  border-radius: 999px;
}

.project-page__projects__links a:hover {
  background-color: #fff;
  color: var(--theme-color);
}

.project-page__hero-section {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
}

@media only screen and (min-width: 700px) {
  .project-page__hero-section {
    display: flex;
    justify-content: space-evenly;
   padding-bottom: 100px;
  }
  .project-page__hero-img-wrapper {
    width: 45%;
  }
  .project-page__hero-description {
    width: 50%;
  }
}

/* tile */

.project-page__tile {
  padding: 60px 15px;
}

.project-page__tile:nth-of-type(even) {
  background-color: var(--theme-color);
  color: #fff;
}

.project-page__tile__img-wrapper img {
  width: 100%;
}

.mobile-screen {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 700px) {
  .project-page__tile {
    display: flex;
    justify-content: space-around;
    padding: 100px 20px;
    column-gap: 20px;
  }
  .project-page__tile:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .project-page__tile__img-wrapper {
    width: 80%;
  }
  .project-page__tile__txt-wrapper {
    width: 80%;
  }
  .mobile-screen {
    width: 40%;
    margin-right: 10%;
  }
}

@media only screen and (min-width: 1200px) {
  .project-page__tile {
    display: flex;
    justify-content: space-around;
    padding: 150px 40px;
    column-gap: 40px;
  }
  .project-page__tile__img-wrapper {
    width: 40%;
  }
  .project-page__tile__txt-wrapper {
    width: 40%;
  }
  .mobile-screen {
    width: 20%;
    margin-right: 20%;
  }
}

/* project page summary */

.project-page__summary {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 40px 15px;
  background-color: var(--theme-color);
  color: #fff;
}



@media only screen and ( min-width: 700px) {
  .project-page__summary {
    flex-direction: row;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
  }
}