@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  /* colors */
  --theme-color: #5d5cdc;
  --background-color: #f7f7f7;
  --text-dark-color: #333;
  --light-gray: #ecebe9;
  --orange: #feb12f;

  /* spacing */
  --tablet-page-padding: 50px;
  --mobile-padding: 20px;

  /* breake points */
  --mobile-screen: 767px;
  --tablet-screen: 1023px;
  --small-desktop-screen: 1280px;
  --desktop-screen: 1440px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3 {
  margin-bottom: 20px;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1400px) {
  .container {
    padding-inline: var(--tablet-page-padding);
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding-inline: var(--mobile-padding);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body.active {
  overflow: hidden;
}

.header {
  background-color: var(--light-gray);
  padding: 10px 0px;
}
@media only screen and (max-width: 1400px) {
  .header {
    padding-inline: var(--tablet-page-padding);
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding-inline: var(--mobile-padding);
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .header__wrapper {
    align-items: center;
  }
}

.header__logo-img-wrapper {
  width: 170px;
}

.header__logo-img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .header__logo-img {
    width: 100px;
  }
}

.desktop-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

@media only screen and (max-width: 767px) {
  .desktop-nav {
    display: none;
  }
}

.desktop-nav__link {
  color: var(--text-dark-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.desktop-nav__link:hover {
  cursor: pointer;
  color: var(--orange);
}

.link-wrapper--contact-link {
  background-color: var(--orange);
  padding: 10px 20px;
  border-radius: 8px;
}

.link-wrapper--contact-link:hover {
  background-color: #fff;
  cursor: pointer;
}

.link-wrapper--contact-link:hover .desktop-nav__link--contact-link {
  color: var(--orange);
}
.desktop-nav__link--contact-link {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .link-wrapper--contact-link {
    display: none;
  }
}

.desktop-nav__link:hover .desktop-nav__dropdown-arrow {
  transform: rotate(-180deg);
}

.link.active {
  color: var(--orange);
}

.mobile-nav {
  display: none;
  height: 25px;
}

.mobile-nav__menu {
  display: none;
}

@media only screen and (max-width: 767px) {
  .mobile-nav {
    display: block;
  }

  .mobile-nav__close-btn,
  .mobile-nav__bars {
    display: none;
  }

  .mobile-nav__close-btn.active,
  .mobile-nav__bars.active {
    display: block;
  }

  .mobile-nav__menu {
    display: flex;
    z-index: 10;
  }

  .mobile-nav__menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--light-gray);
    padding-top: 100px;
    row-gap: 15px;
    transform: translateX(-100%);
  }

  .mobile-nav__menu.active {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
  }
}

.mobile-nav__dropdown-toggle,
.mobile-nav__link {
  text-decoration: none;
  font-size: 24px;
  color: var(--text-dark-color);
}

.mobile-nav__link--active {
  color: var(--orange);
}

/* ----------------------------------------------------------- */

.hero-section {
  background-color: var(--theme-color);
  color: #fff;
}

.hero-section__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  .hero-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.hero-section__img-container {
  width: 40%;
  z-index: 2;
  margin-bottom: -2px;
  margin-right: 50px;
}

@media only screen and (max-width: 1024px) {
  .hero-section__img-container {
    width: 70%;
    margin-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .hero-section__img-container {
    width: 90%;
  }
}

.hero-section__img {
  width: 100%;
  z-index: 2;
}

.hero-secttion__background-img {
  width: 35px;
  position: absolute;
  opacity: 20%;
}

.hero-secttion__background-img--0 {
  top: 50px;
  left: 15%;
}

.hero-secttion__background-img--1 {
  top: 50%;
  left: 90%;
}

.hero-secttion__background-img--2 {
  top: 30%;
  left: 50%;
}

.hero-secttion__background-img--3 {
  top: 70%;
  left: 10%;
  width: 60px;
}

.hero-secttion__background-img--4 {
  top: 10%;
  left: 90%;
}

.hero-secttion__background-img--5 {
  top: 60%;
  left: 40%;
  width: 60px;
}

.hero-secttion__background-img--6 {
  top: 90%;
  left: 30%;
}

.hero-secttion__background-img--7 {
  top: 50%;
  left: 20%;
}

.hero-section__txt-wrapper {
  margin-top: 100px;
  margin-left: 20px;
  width: 35%;
}

@media only screen and (max-width: 768px) {
  .hero-secttion__background-img--2 {
    top: 40%;
    left: 70%;
  }

  .hero-secttion__background-img--5 {
    top: 70%;
    left: 80%;
    width: 60px;
  }

  .hero-secttion__background-img--7 {
    top: 55%;
    left: 20%;
  }
}

@media only screen and (max-width: 1024px) {
  .hero-section__txt-wrapper {
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .hero-section__txt-wrapper {
    margin-bottom: 40px;
  }
}

.hero-section__heading {
  font-size: 50px;
  margin-bottom: 5px;
}

.hero-section__txt {
  font-size: 32px;
  padding-bottom: 10px;
}

.hero-section__link {
  position: relative;
  z-index: 9;
  padding: 10px 20px;
  background-color: var(--orange);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.hero-section__links-container {
  margin-top: 40px;
}

.hero-section__link--projects-link {
  background-color: transparent;
  border: 1px solid #fff;
  margin-left: 15px;
}

.hero-section__link:hover {
  background-color: #fff;
  color: var(--orange);
}

.hero-section__social-links {
  margin-top: 40px;
}

.hero-section__social-link {
  margin-right: 10px;
}

.hero-section__social-link-img {
  width: 30px;
  height: 30px;
}

.hero-section__social-link-img:hover {
  scale: 1.2;
}
/* ---------------------ABOUT-------------------------------- */

.about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about__heading {
  margin-bottom: 100px;
}

.about__tile-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.about__img-tile {
  width: 45%;
}

.about__image {
  width: 100%;
}

.about__text-tile {
  width: 40%;
}

.about__text {
  margin-bottom: 40px;
  line-height: 1.6;
}

@media only screen and (max-width: 768px) {
  .about__tile-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about__text-tile {
    width: 100%;
    margin-top: 50px;
  }

  .about__img-tile {
    width: 100%;
  }
}

.about__link {
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  background-color: var(--orange);
  border-radius: 8px;
}

.about__link:hover {
  background-color: #fff;
  color: var(--orange);
  border: 1px solid var(--orange);
}

/* ---------------------SKILS----------------------------- */

.skills {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: var(--light-gray);
}

.skills__heading {
  margin-bottom: 100px;
}

.skills__content-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .skills__content-wrapper {
    flex-direction: column;
  }
}

.blur {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8;
}

.blur.active {
  display: block;
}

.skills__pop-up {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 100px 50px;
  z-index: 9;
}

@media only screen and (max-width: 768px) {
  .skills__pop-up {
    position: absolute;
    width: 95%;
    padding-left: 40px;
  }
}

.skills__pop-up.active {
  display: block;
}

.skills__close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px;
  border-color: var(--theme-color);
  border-radius: 4px;
}

.skills__close-btn:hover {
  cursor: pointer;
  scale: 1.1;
}

.skills__pop-up-heading {
  margin-bottom: 20px;
}

.skills__skills-tiles-wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 20px;
}

.skills__skill-display {
  font-size: 20px;
  line-height: 1.5;
}

@media only screen and (max-width: 1280px) {
  .skills__skills-tiles-wrapper {
    width: 40%;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 1024px) {
  .skills__skills-tiles-wrapper {
    width: 100%;
    justify-content: center;
  }
}

.skills__skill-tile {
  text-align: center;
  border: 2px solid var(--theme-color);
  border-radius: 8px;
  padding: 20px;
  transition: scale 0.3s;
  background-color: #fff;
}

@media only screen and (max-width: 1280px) {
  .skills__skill-tile {
    width: 24%;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .skills__skill-tile {
    width: 40%;
    padding-bottom: 15px;
  }
}

.skills__skill-tile:hover {
  scale: 1.1;
  cursor: pointer;
}

.skills__img {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 1280px) {
  .skills__img {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .skills__img {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .skills__img {
    width: 40px;
    height: 40px;
  }
}

.skills__btn {
  display: block;
  margin-top: 15px;
  color: var(--theme-color);
  text-decoration: underline;
}

/* ------------------------------------------------- */

.projects {
  padding-top: 80px;
  color: var(--text-dark-color);
}

.projects__alert {
  display: none;
  background-color: #fff;
  position: fixed;
  padding: 40px;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 40px 27px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 40px 27px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 40px 27px rgba(0, 0, 0, 0.24);
}

.projects__alert.active {
  display: block;
}

.projects__alert-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
}

.projects__project-container {
  background-color: white;
  border-radius: 8px;
  margin-bottom: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 100px;
}

@media only screen and (max-width: 1024px) {
  .projects__project-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .projects__project-container {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.projects__project-container:nth-child(odd) {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 1024px) {
  .projects__project-container:nth-child(odd) {
    flex-direction: column;
  }
}

.projects h2 {
  margin-bottom: 50px;
}

.projects p {
  line-height: 1.2;
}

.projects a {
  text-decoration: none;
  color: var(--theme-color);
}

.projects-link--btn {
  border: 2px solid var(--theme-color);
  margin-right: 10px;
  padding: 5px 30px;
  color: var(--theme-color);
  background-color: #fff;
  font-family: "Lato", sans-serif;
  border-radius: 9999px;
  font-size: 16px;
}

.projects-link--btn:hover {
  background-color: var(--theme-color);
  color: white;
  cursor: pointer;
}

.projects__links {
  margin-top: 30px;
}

.projects-link--alert {
  display: block;
  width: 100px;
  padding: 5px;
  text-align: center;
  border-radius: 9999px;
  margin-top: 10px;
  border: 2px solid var(--theme-color);
}

.projects__links a {
  border: 2px solid var(--theme-color);
  padding: 5px 30px;
  border-radius: 9999px;
  margin-right: 10px;
  transition: linear 0.2s;
}

.projects__links a:hover {
  background-color: var(--theme-color);
  color: white;
}

.projects__text-container {
  opacity: 0;
  transition: linear 0.5s;
  width: 40%;
}

.projects__text-container.active {
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  .projects__text-container {
    width: 100%;
  }
}

.projects__img-container {
  opacity: 0;
  width: 40%;
  margin-bottom: 50px;
  transition: linear 0.5s;
}

@media only screen and (max-width: 1024px) {
  .projects__img-container {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .projects__img-container {
    width: 100%;
  }
}

.projects__img-container.active {
  opacity: 1;
}

.projects__img-container img {
  width: 100%;
}

.projects__tech-stack-container {
  margin-top: 40px;
}

.projects__tech-stack-list {
  margin-left: 20px;
}

form h2 {
  margin-bottom: 40px;
}

/* contact */

form {
  box-sizing: border-box;
  background-color: #333;
  color: white;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .form-wrapper {
    flex-direction: column;
  }
}

.form__inputs-section {
  width: 45%;
}

@media only screen and (max-width: 768px) {
  .form__inputs-section {
    width: 100%;
  }
}

.form__heading {
  width: 100%;
}

.inputs-wrapper {
  width: 100%;
}

.input-wrapper {
  margin-bottom: 10px;
}

.input-wrapper input {
  margin-top: 10px;
}

input {
  box-sizing: border-box;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: white 2px solid;
  border-radius: 8px;
  width: 100%;
}

input:focus {
  outline: 2px solid orange;
}

.message-wrapper {
  width: 100%;
}

.message-wrapper textarea {
  margin-top: 10px;
}

textarea {
  box-sizing: border-box;
  min-width: 100%;
  max-width: 100%;
  padding: 15px 20px;
  border-radius: 8px;
  min-height: 150px;
}

textarea:focus {
  outline: 2px solid orange;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

form button {
  width: 50%;
  margin-top: 30px;
  padding: 10px;
  color: white;
  background-color: orange;
  border: 2px solid white;
  border-radius: 9999px;
}

form button:hover {
  background-color: white;
  color: var(--theme-color);
}

/* social links */
.social-links-container {
  width: 45%;
  line-height: 2;
}

.social-links-container__image-container {
  width: 100%;
}

.social-links-container__image {
  width: 90%;
  margin-top: 40px;
}

@media only screen and (max-width: 768px) {
  .social-links-container {
    width: 100%;
    margin-bottom: 40px;
  }
}

.social-links-container__link-container {
  margin-right: 10px;
  transition: ease-in-out 0.2s;
}

.social-links-container__link-container a {
  color: #fff;
  text-decoration: none;
}

.social-links-container__link-container p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.social-links-container__link-container:hover {
  cursor: pointer;
}

.social-links-container__links img {
  width: 25px;
  height: 25px;
}

/* footer */
footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}
