@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  /* colors */
  --theme-color: #5d5cdc;
  --background-color: #f7f7f7;
  --text-dark-color: #333;
  --light-gray: #ecebe9;
  --orange: #feb12f;

  /* spacing */
  --tablet-page-padding: 50px;
  --mobile-padding: 20px;

  /* breake points */
  --mobile-screen: 767px;
  --tablet-screen: 1023px;
  --small-desktop-screen: 1280px;
  --desktop-screen: 1440px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3 {
  margin-bottom: 20px;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1400px) {
  .container {
    padding-inline: var(--tablet-page-padding);
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding-inline: var(--mobile-padding);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body.active {
  overflow: hidden;
}

.header {
  background-color: var(--light-gray);
  padding: 10px 0px;
}
@media only screen and (max-width: 1400px) {
  .header {
    padding-inline: var(--tablet-page-padding);
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding-inline: var(--mobile-padding);
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .header__wrapper {
    align-items: center;
  }
}

.header__logo-img-wrapper {
  width: 170px;
}

.header__logo-img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .header__logo-img {
    width: 100px;
  }
}

.desktop-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

@media only screen and (max-width: 767px) {
  .desktop-nav {
    display: none;
  }
}

.desktop-nav__link {
  color: var(--text-dark-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.desktop-nav__link:hover {
  cursor: pointer;
  color: var(--orange);
}

.desktop-nav__link:hover .desktop-nav__dropdown-arrow {
  transform: rotate(-180deg);
}

.link.active {
  color: var(--orange);
}

.desktop-nav__sub-link {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.desktop-nav__sub-link:hover {
  cursor: pointer;
  color: var(--orange);
}

.mobile-nav {
  display: none;
  height: 25px;
}

.mobile-nav__menu {
  display: none;
}

@media only screen and (max-width: 767px) {
  .mobile-nav {
    display: block;
  }

  .mobile-nav__close-btn,
  .mobile-nav__bars {
    display: none;
  }

  .mobile-nav__close-btn.active,
  .mobile-nav__bars.active {
    display: block;
  }

  .mobile-nav__menu {
    display: flex;
    z-index: 10;
  }

  .mobile-nav__menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--light-gray);
    padding-top: 100px;
    row-gap: 15px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }

  .mobile-nav__menu.active {
    transform: translateX(0);
  }
}

.mobile-nav__dropdown-toggle,
.mobile-nav__link {
  text-decoration: none;
  font-size: 24px;
  color: var(--text-dark-color);
}

.mobile-nav__link--active {
  color: var(--orange);
}

.mobile-nav__dropdown-arrow {
  margin-left: 15px;
  font-size: 18px;
}

.mobile-nav__submenu {
  display: none;
  margin-left: 10px;
  margin-top: 10px;
}

.mobile-nav__submenu .mobile-nav__link {
  font-size: 18px;
  margin-top: 10px;
}

.mobile-nav__submenu.active {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.mobile-nav__dropdown-arrow.active {
  transform: rotate(180deg);
}

/* ----------------------------------------------------------- */

.hero-section {
  background-color: var(--theme-color);
  color: #fff;
}

.hero-section__wrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  .hero-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.hero-section__img-container {
  position: relative;
  width: 40%;
  z-index: 2;
  margin-bottom: -2px;
  margin-right: 50px;
}

@media only screen and (max-width: 1024px) {
  .hero-section__img-container {
    width: 70%;
    margin-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .hero-section__img-container {
    width: 90%;
  }
}

.hero-section__img {
  width: 100%;
  z-index: 2;
}

.hero-section__background-blob__svg {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.hero-section__background-blob__svg--one {
  width: 300px;
  height: 300px;
  top: 20%;
  left: -100px;
}

@media only screen and (max-width: 1024px) {
  .hero-section__background-blob__svg--one {
    top: 15%;
    left: -120px;
  }
}

@media only screen and (max-width: 400px) {
  .hero-section__background-blob__svg--one {
    top: 5%;
    left: -150px;
  }
}

.hero-section__background-blob__svg--two {
  scale: 2.4;
  left: 20%;
  top: 30%;
  transform: rotate(19deg);
}

@media only screen and (max-width: 1280px) {
  .hero-section__background-blob__svg--two {
    bottom: -13%;
    left: 25%;
  }
}

.hero-section__txt-wrapper {
  margin-top: 100px;
  margin-left: 20px;
  width: 35%;
}

@media only screen and (max-width: 1024px) {
  .hero-section__txt-wrapper {
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .hero-section__txt-wrapper {
    margin-bottom: 40px;
  }
}

.hero-section__heading {
  font-size: 32px;
  margin-bottom: 20px;
}

.hero-section__txt {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 20px;
}

.hero-section__projects-link {
  position: relative;
  z-index: 9;
  padding: 7px 20px;
  background-color: var(--orange);
  color: #fff;
  text-decoration: none;
  border-radius: 9999px;
}

.hero-section__projects-link:hover {
  background-color: #ffd741;
}

/* -------------------------------------------------- */

.skills {
  padding-top: 100px;
  margin-bottom: 200px;
}

@media only screen and (max-width: 768px) {
  .skills {
    margin-bottom: 0px;
  }
}

.skills__heading {
  margin-bottom: 50px;
}

.skills__content-wrapper {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .skills__content-wrapper {
    flex-direction: column;
  }
}

.skills__img-tile {
  width: 55%;
  background-image: url(./imgs/screen-svg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-left: 70px;
  padding-bottom: 460px;
  height: 680px;
}

@media only screen and (max-width: 1440px) {
  .skills__img-tile {
    padding-bottom: 0;
    height: auto;
  }
}

@media only screen and (max-width: 1280px) {
  .skills__img-tile {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .skills__img-tile {
    width: 100%;
    background-size: contain;
    min-height: 700px;
  }
}

@media only screen and (max-width: 767px) {
  .skills__img-tile {
    padding: 0;
    width: 98%;
    height: 300px;
    min-height: 500px;
  }
}

@media only screen and (max-width: 500px) {
  .skills__img-tile {
    min-height: 300px;
    background-size: cover;
  }
}

@media only screen and (max-width: 400px) {
  .skills__img-tile {
    background-image: none;
  }
}

.skills__skill-display {
  width: 75%;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .skills__skill-display {
    width: 70%;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .skills__skill-display {
    width: 85%;
    padding-left: 32px;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .skills__skill-display {
    font-size: 14px;
    padding-left: 0;
    width: 100%;
  }
}

.skills__skills-tiles-wrapper {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 20px;
}

@media only screen and (max-width: 1280px) {
  .skills__skills-tiles-wrapper {
    width: 40%;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 1024px) {
  .skills__skills-tiles-wrapper {
    width: 100%;
    justify-content: center;
  }
}

.skills__skill-tile {
  width: 25%;
  text-align: center;
  border: 2px solid var(--theme-color);
  border-radius: 8px;
  padding: 15px 0px 0px 0px;
  transition: scale 0.3s;
}

@media only screen and (max-width: 1280px) {
  .skills__skill-tile {
    width: 24%;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .skills__skill-tile {
    width: 40%;
    padding-bottom: 15px;
  }
}

.skills__skill-tile:hover {
  scale: 1.1;
  cursor: pointer;
}

.skills__img {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 1280px) {
  .skills__img {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .skills__img {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .skills__img {
    width: 40px;
    height: 40px;
  }
}

/* ------------------------------------------------- */

.projects {
  padding-top: 80px;
  color: var(--text-dark-color);
}

.projects__project-container {
  background-color: white;
  border-radius: 8px;
  margin-bottom: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 100px;
}

@media only screen and (max-width: 1024px) {
  .projects__project-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .projects__project-container {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.projects__project-container:nth-child(odd) {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 1024px) {
  .projects__project-container:nth-child(odd) {
    flex-direction: column;
  }
}

.projects h2 {
  margin-bottom: 50px;
}

.projects p {
  line-height: 1.2;
}

.projects a {
  text-decoration: none;
  color: var(--theme-color);
}

.projects__links {
  margin-top: 30px;
}

.projects__links a {
  border: 2px solid var(--theme-color);
  padding: 5px 30px;
  border-radius: 9999px;
  margin-right: 10px;
  transition: linear 0.2s;
}

.projects__links a:hover {
  background-color: var(--theme-color);
  color: white;
}

.projects__text-container {
  opacity: 0;
  transition: linear 0.5s;
  width: 40%;
}

.projects__text-container.active {
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  .projects__text-container {
    width: 100%;
  }
}

.projects__img-container {
  opacity: 0;
  width: 40%;
  margin-bottom: 50px;
  transition: linear 0.5s;
}

@media only screen and (max-width: 1024px) {
  .projects__img-container {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .projects__img-container {
    width: 100%;
  }
}

.projects__img-container.active {
  opacity: 1;
}

.projects__img-container img {
  width: 100%;
}

.projects__tech-stack-container {
  margin-top: 40px;
}

.projects__tech-stack-list {
  margin-left: 20px;
}

form h2 {
  margin-bottom: 40px;
}

/* contact */

form {
  box-sizing: border-box;
  background-color: #333;
  color: white;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .form-wrapper {
    flex-direction: column;
  }
}

.form__inputs-section {
  width: 45%;
}

@media only screen and (max-width: 768px) {
  .form__inputs-section {
    width: 100%;
  }
}

.form__heading {
  width: 100%;
}

.inputs-wrapper {
  width: 100%;
}

.input-wrapper {
  margin-bottom: 10px;
}

.input-wrapper input {
  margin-top: 10px;
}

input {
  box-sizing: border-box;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: white 2px solid;
  border-radius: 8px;
  width: 100%;
}

input:focus {
  outline: 2px solid orange;
}

.message-wrapper {
  width: 100%;
}

.message-wrapper textarea {
  margin-top: 10px;
}

textarea {
  box-sizing: border-box;
  min-width: 100%;
  max-width: 100%;
  padding: 15px 20px;
  border-radius: 8px;
  min-height: 150px;
}

textarea:focus {
  outline: 2px solid orange;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

form button {
  width: 50%;
  margin-top: 30px;
  padding: 10px;
  color: white;
  background-color: orange;
  border: 2px solid white;
  border-radius: 9999px;
}

form button:hover {
  background-color: white;
  color: var(--theme-color);
}

/* social links */
.social-links-container {
  width: 45%;
  line-height: 2;
}

@media only screen and (max-width: 768px) {
  .social-links-container {
    width: 100%;
    margin-bottom: 40px;
  }
}

.social-links-container__link-container {
  margin-right: 10px;
  transition: ease-in-out 0.2s;
}

.social-links-container__link-container a {
  color: #fff;
  text-decoration: none;
}

.social-links-container__link-container p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.social-links-container__link-container:hover {
  cursor: pointer;
}

.social-links-container__links img {
  width: 25px;
  height: 25px;
}

/* footer */
footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}
