:root {
  --theme-color: #5d5cdc;
  --background-color: #f7f7f7;
  --text-dark-color: #333;
  --light-gray: #ecebe9;
  --orange: #feb12f;
  --tablet-page-padding: 50px;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.header {
  background-color: var(--light-gray);
  padding: 10px 0px;
}
@media only screen and (max-width: 1400px) {
  .header {
    padding-inline: var(--tablet-page-padding);
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo-img-wrapper {
  width: 170px;
}

.header__logo-img {
  width: 100%;
}

.desktop-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.desktop-nav__sub-links-wrpper {
  display: none;
  padding: 10px 10px;
  flex-direction: column;
  position: absolute;
  background-color: var(--light-gray);
}

.desktop-nav__sub-link,
.desktop-nav__link {
  color: var(--text-dark-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.desktop-nav__link--drop-down:hover .desktop-nav__sub-links-wrpper {
  display: flex;
}

.desktop-nav__link:hover {
  cursor: pointer;
  color: var(--orange);
}

.desktop-nav__link--active {
  color: var(--orange);
}

.desktop-nav__sub-link {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.desktop-nav__sub-link:hover {
  cursor: pointer;
  color: var(--orange);
}
